@model medexnet.Models.UserModel

@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <div id="patientList">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Your Patients</h5>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    @*<th scope="col">OTHER</th>
                                <th scope="col">OTHER</th>*@
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (medexnet.Models.UserModel item in Model.myPatients)
                                {
                                
                                    <tr>
                                        @*<td><a href="@Url.Action("Index", "Doctor", item)">&nbsp;</a></td>*@
                                        <td onclick="">@Html.DisplayFor(modelItem => item.fName)</td>
                                        <td onclick="location.href='@Url.Action("PatientModal", "Doctor", item)'">@Html.DisplayFor(modelItem => item.lName)</td>
                                    </tr>
                                
                                }
                                @*<tr>
                                <th scope="row">1</th>
                                <td>MIKE</td>
                                <td>HUNT</td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
        <h2>Patients</h2>

        <p>

            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
            {
                <table>
                    <tr>
                        <td>
                            <input type="text" id="txtName" name="searchparam" placeholder="type here to search" />
                        </td>
                        <td>
                            <input type="submit" id="btnSubmit" value="Search" />
                        </td>
                    </tr>
                </table>
            }

        </p>
        <table class="table">
            <tr>

                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>

                <th></th>
            </tr>

            @foreach (medexnet.Models.UserModel item in Model.myPatients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lName)
                    </td>

                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@

                        <a href="javascript:void(0);" class="anchorDetail" data-id="@item.Id">Details</a>

                    </td>
                </tr>
            }

        </table>

        <div id='myModal' class='modal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myModalContent'></div>
                </div>
            </div>

        </div>

    </div>
</div>

@section scripts
{
    
    <script>
        var TeamDetailPostBackURL = '/Doctor/PatientModal';
        $(function () {
            $(".anchorDetail").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },                    
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

    </script>

}  