@model medexnet.Models.UserModel

@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <h2>Patients</h2>
        <p>
            <table>
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="btn" data-toggle="modal" data-target="#addPatientModal">Add Patient</a>
                    </td>
                </tr>
            </table>
        </p>
        <table class="table">
            <tr>

                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>

                <th></th>
            </tr>

            @foreach (medexnet.Models.UserModel item in Model.myPatients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lName)
                    </td>

                    <td>
                        <a href="javascript:void(0);" class="detailsModal" data-id="@item.Id">Details</a> |
                        <a href="javascript:void(0);" class="prescriptionsModal" data-id="@item.Id">Prescriptions</a> |
                        <a href="javascript:void(0);" class="" data-toggle="modal" data-id="@item.Id" data-target="#writeModal">Write Prescription</a> |
                        <a href="javascript:void(0);" class="" data-toggle="modal" data-id="@item.Id" data-target="#setModal">Set Appointment</a>
                    </td>
                </tr>

                <div class="modal" id="writeModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Write Prescription</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <dl class="dl-horizontal">                                      
                                        <dd>
                                            Prescription Name:
                                            <div class="input-group col-md-10">
                                                <input type="text" name="name" id="name" class="form-control" required />
                                            </div>
                                        </dd>
                                        <dd>
                                            Pill Dosage:
                                            <div class="input-group col-md-10">
                                                <input type="text" name="dosage" id="dosage" class="form-control" required />
                                            </div>
                                        </dd>
                                        <dd>
                                            Pill Count:
                                            <div class="input-group col-md-10">
                                                <input type="number" name="pillCount" id="pillCount" class="form-control" required />
                                            </div>
                                        </dd>
                                        <dd>
                                            Number of Refills:
                                            <div class="input-group col-md-10">
                                                <input type="number" name="numberOfRefills" id="numberOfRefills" class="form-control" required />
                                            </div>
                                        </dd>
                                        <dd>
                                            Use Before:
                                            <div class="input-group col-md-10">
                                                <input type="date" name="useBefore" id="useBefore" class="form-control" required />
                                            </div>
                                        </dd>
                                        <dd>
                                            Description:
                                            <div class="input-group col-md-10">
                                                <input type="text" name="description" id="description" class="form-control" required />
                                            </div>
                                        </dd>

                                        <dd>
                                            <input class="btn btn-primary" name="submitButton" data-id="@item.Id" id="btnSave" value="Write Prescription" type="button">
                                        </dd>
                                    </dl>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal" id="setModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Set Appointment</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <dl class="dl-horizontal">
                                        <dd>
                                            Appointment Date:
                                            <div class="input-group col-md-10">
                                                <input type="datetime-local" name="date" id="date" class="form-control" required />
                                            </div>
                                        </dd>
                                        <dd>
                                            Description:
                                            <div class="input-group col-md-10">
                                                <input type="text" name="description" id="description2" class="form-control" required />
                                            </div>
                                        </dd>

                                        <dd>
                                            <input class="btn btn-primary" name="submitButton" data-id="@item.Id" id="btnSet" value="Set Appointment" type="button">
                                        </dd>
                                    </dl>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </table>

        <div id='myModal' class='modal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myModalContent'></div>
                </div>
            </div>
        </div>

        <div class="modal" id="addPatientModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add Patient</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <dl class="dl-horizontal">
                                <dt>Enter the exact fields for the patient.</dt>
                                <dd></dd>
                                <dd>
                                    First Name:
                                    <div class="input-group col-md-10">
                                        <input type="text" name="patFirst" id="patFirst" class="form-control" required />
                                    </div>
                                </dd>
                                <dd>
                                    Last Name:
                                    <div class="input-group col-md-10">
                                        <input type="text" name="patLast" id="patLast" class="form-control" required />
                                    </div>
                                </dd>
                                <dd>
                                    Email Address:
                                    <div class="input-group col-md-10">
                                        <input type="text" name="patEmail" id="patEmail" class="form-control" required />
                                    </div>
                                </dd>
                                <dd>
                                    Street Address:
                                    <div class="input-group col-md-10">
                                        <input type="text" name="patStreetAddress" id="patStreetAddress" class="form-control" required />
                                    </div>
                                </dd>
                                <dd>
                                    City:
                                    <div class="input-group col-md-10">
                                        <input type="text" name="patCity" id="patCity" class="form-control" required />
                                    </div>
                                </dd>
                                <dd>
                                    State:
                                    <div class="input-group col-md-10">
                                        <input type="text" name="patState" id="patState" class="form-control" required />
                                    </div>
                                </dd>

                                <dd>
                                    <input class="btn btn-primary" name="submitButton" id="btnAdd" value="Set Appointment" type="button">
                                </dd>
                            </dl>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

@section scripts
{

    <script>
        var detailsModalURL = '/Doctor/PatientDetails';
        var prescriptionModalURL = '/Doctor/PatientsPrescriptions';
        $(function () {
            $(".detailsModal").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: detailsModalURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Failed to load patients details.");
                    }
                });
            });
            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

        $(function () {
            $(".prescriptionsModal").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: prescriptionModalURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Failed to load patients prescriptions.");
                    }
                });
            });
            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#btnSave").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var pers = {};
                pers.patientFID = $buttonClicked.attr('data-id');
                pers.name = $("#name").val();
                pers.dosage = $("#dosage").val();
                pers.pillCount = $("#pillCount").val();
                pers.numberOfRefills = $("#numberOfRefills").val();
                pers.useBefore = $("#useBefore").val();
                pers.description = $("#description").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddPrescription")',
                    data: '{pers: ' + JSON.stringify(pers) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert("Prescription has been written.");
                    },
                    error: function () {
                        alert("Cannot write this prescription. Please check all of the fields.");
                    }
            });
            return false;
        });
    });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#btnSet").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var app = {};               
                app.date = $("#date").val();
                app.desc = $("#description2").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddAppointment")',
                    data: '{app: ' + JSON.stringify(app) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert("Appointment has been made.");
                    },
                    error: function () {
                        alert("Cannot make this appointment. Please check all of the fields.");
                    }
            });
            return false;
        });
    });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#btnAdd").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var pat = {};
                pat.fName = $("#patFirst").val();
				pat.lName = $("#patLast").val();
				pat.email = $("#patEmail").val();
				pat.streetAddress = $("#patStreetAddress").val();
				pat.city = $("#patCity").val();
				pat.state = $("#patState").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddPatientToDoctorRequest")',
                    data: '{pat: ' + JSON.stringify(pat) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert("Patient has been added.");
                    },
                    error: function () {
                        alert("Cannot add this patient. Please check all of the fields.");
                    }
            });
            return false;
        });
    });
    </script>
}