@model medexnet.Models.UserModel

@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">

        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dl></dl>
                    <dt>
                        Change Contact Information
                    </dt>
                    <form>
                        @* START OF EMAIL *@
                        <dl>

                            Current Email Address: @Html.DisplayFor(model => model.email)
                            <input type="email" name="email" id="email" class="form-control" required />
                        </dl>
                        <dl>
                            <input class="btn btn-primary" name="change Email" @*data-id="@item.Id"*@ id="changeEmail" value="Change Email" type="button">
                        </dl>
                    </form>
                    <dl></dl>
                    <form>
                        @* START OF PHONE *@
                        <dl>
                            Current Phone Number: @Html.DisplayFor(model => model.phoneNumber)
                            <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control" required />
                        </dl>
                        <dl>
                            <input class="btn btn-primary" name="change Phone" @*data-id="@item.Id"*@ id="changePhone" value="Change Phone" type="button">
                        </dl>
                    </form>
                    <dl></dl>
                    <dt>
                        Change Address Information
                    </dt>
                    <form>
                        @* START OF ADDRESS *@
                        <dl>
                            Current Address: @Html.DisplayFor(model => model.streetAddress)
                            <input type="text" name="streetAddress" id="streetAddress" class="form-control" required />
                        </dl>
                        <dl></dl>
                        <dl>
                            Current City: @Html.DisplayFor(model => model.city)
                            <input type="text" name="city" id="city" class="form-control" required />
                        </dl>
                        <dl></dl>
                        <dl>
                            Current State: @Html.DisplayFor(model => model.state)
                            @*<input type="text" name="state" id="state" class="form-control" required />*@
                            <select class="select2 form-control custom-select" id="state" style="width: 100%; height:36px;">
                                <option>Select</option>
                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                </optgroup>
                                <optgroup label="Pacific Time Zone">
                                    <option value="CA">California</option>
                                    <option value="NV">Nevada</option>
                                    <option value="OR">Oregon</option>
                                    <option value="WA">Washington</option>
                                </optgroup>
                                <optgroup label="Mountain Time Zone">
                                    <option value="AZ">Arizona</option>
                                    <option value="CO">Colorado</option>
                                    <option value="ID">Idaho</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="UT">Utah</option>
                                    <option value="WY">Wyoming</option>
                                </optgroup>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TX">Texas</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="WI">Wisconsin</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="IN">Indiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="OH">Ohio</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
            
            </dl>
            <dl></dl>
            <dl>
                Current State: @Html.DisplayFor(model => model.zipcode)
                <input type="text" name="zipcode" id="zipcode" class="form-control" required />
            </dl>
            <dl>
                <input class="btn btn-primary" name="change address" @*data-id="@item.Id"*@ id="changeAddress" value="Change Address" type="button">
            </dl>
            </form>
            <dl></dl>
            <dt>
                Change Password
            </dt>
            <form>
                @* START OF PASSWORD *@
                <dl>
                    Current Password:
                    <input type="password" name="currentpassword" id="currentpassword" class="form-control" required />
                </dl>
                <dl></dl>
                <dl>
                    New Password:
                    <input type="password" name="newpassword" id="newpassword" class="form-control" required />
                </dl>

                <dl>
                    <input class="btn btn-primary" name="change password" @*data-id="@item.Id"*@ id="changePassword" value="Change Password" type="button">
                </dl>
            </form>
            </dl>

        </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#changeEmail").click(function () {
                debugger;
                var newData = {};
                newData.email = $("#email").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangeEmail")',
                    data: '{newData: ' + JSON.stringify(newData) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert("Your email address has changed.");
                    },
                    error: function () {
                        alert("Cannot change email address.");
                    }
            });
            return false;
        });
    });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#changePhone").click(function () {
                debugger;
                var newData = {};
                newData.phoneNumber = $("#phoneNumber").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangePhone")',
                    data: '{newData: ' + JSON.stringify(newData) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert("Your phone number has changed aswell.");
                    },
                    error: function () {
                        alert("Cannot change email address.");
                    }
            });
            return false;
        });
    });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#changeAddress").click(function () {
                debugger;
                var newData = {};
                newData.streetAddress = $("#streetAddress").val();
                newData.city = $("#city").val();
                newData.state = $("#state").val();
                newData.zipcode = $("#zipcode").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangeAddress")',
                    data: '{newData: ' + JSON.stringify(newData) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert("Your address has been changed.");
                    },
                    error: function () {
                        alert("Cannot change address.");
                    }
            });
            return false;
        });
    });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#changePassword").click(function () {
                debugger;
                var newData = {};
                newData.email = $("#currentpassword").val();
                newData.password = $("#newpassword").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangePassword")',
                    data: '{newData: ' + JSON.stringify(newData) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert("Your password has been changed.");
                    },
                    error: function () {
                        alert("Cannot change password.");
                    }
            });
            return false;
        });
    });
    </script>
}