@model medexnet.Models.UserModel

@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
    ViewBag.Title = "Appointments";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">Your Appointments</h5>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Description</th>
                                <th scope="col">Doctor</th>
                                <th scope="col">Doctor's Phone Number</th>
                                <th scope="col">Confirmed</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (medexnet.Models.Appointment item in Model.myAppointments)
                            {
                                string doctorName = "Dr. " + item.doctor.lName;
                                string confirmation = "";
                                string color = "red";
                                if (item.isConfirmed)
                                {
                                    confirmation = "Yes";
                                    color = "green";
                                }
                                else
                                {
                                    confirmation = "No";
                                    color = "red";
                                }
                            <tr>
                                <td onclick=""><a class="docID" data-Id="@item.doctor.Id" data-desc="@item.desc" href="@Url.Action("MessageInbox", "Patient", Model)">Message</a></td>
                                <td onclick="">@Html.DisplayFor(modelItem => item.doctor.Id)</td>
                                <td onclick="">@Html.DisplayFor(modelItem => item.date)</td>
                                <td onclick="">@Html.DisplayFor(modelItem => item.desc)</td>
                                <td onclick="">@Html.DisplayFor(modelItem => doctorName)</td>
                                <td onclick="">@Html.DisplayFor(modelItem => item.doctor.phoneNumber)</td>

                                <td onclick=""><font color=@color> @Html.DisplayFor(modelItem => confirmation)</font></td>


                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card-body b-l calender-sidebar">
                    <div id="calendar"></div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                //theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                handleWindowResize: true,
                defaultView: 'month',
                editable: false,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '/Patient/GetAppointmentData',
                        type: "GET",
                        dataType: "JSON",

                        success: function (result) {
                            var events = [];

                            $.each(result, function (i, data) {
                                events.push(
                                    {
                                        title: data.Title,
                                        description: data.Desc,
                                        start: moment(data.Start_Date).format('YYYY-MM-DD'),
                                        end: moment(data.End_Date).format('YYYY-MM-DD'),
                                        backgroundColor: data.PriorityColor,
                                        borderColor: "#000000"
                                    });
                            });

                            callback(events);
                        }
                    });
                }//,
                //eventRender: function (event, element) {
                //    element.qtip(
                //        {
                //            content: event.description
                //        });
                //}
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $(".docID").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var chat = {};
                chat.id =  $buttonClicked.attr('data-Id');
                chat.topic =  $buttonClicked.attr('data-desc');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangeChatID")',
                    data: JSON.stringify(chat),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        
                    },
                    error: function () {
                        alert("Error");
                    }
            });
            return false;
        });
    });
    </script>

}