@model medexnet.Models.UserModel

@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                //theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                handleWindowResize: true,
                defaultView: 'month',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                //events: "/Patient/GetCalendarData/"
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '/Patient/GetDeliveryData',
                        type: "GET",
                        dataType: "JSON",

                        success: function (result) {
                            var events = [];

                            $.each(result, function (i, data) {
                                events.push(
                                    {
                                        title: data.Title,
                                        description: data.Desc,
                                        start: moment(data.Start_Date).format('YYYY-MM-DD'),
                                        end: moment(data.End_Date).format('YYYY-MM-DD'),
                                        backgroundColor: data.PriorityColor,
                                        borderColor: "#ffffff"
                                    });
                            });

                            callback(events);
                        }
                    });
                },
                //eventRender: function (event, element)
                //{
                //    element.qtip(
                //    {
                //        content: event.description
                //    });
                //},

                editable: false
            });
        });
    </script>
}

<div class="page-wrapper">
    <div class="container-fluid">

        <div id="DeliveryList">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Your Deliveries</h5>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Shipping ID</th>
                                    <th scope="col">Date Shipped</th>
                                    <th scope="col">Estimated Arrival Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (medexnet.Models.PatientPrescriptions item in Model.myPrescriptions)
                                {
                                    foreach (medexnet.Models.Delivery items in item.dDates)
                                    {

                                        <tr>
                                            @*<td><a href="@Url.Action("Index", "Doctor", item)">&nbsp;</a></td>*@
                                            <td onclick="">@Html.DisplayFor(modelItem => items.Id)</td>
                                            <td onclick="">@Html.DisplayFor(modelItem => items.shippedDate)</td>
                                            <td onclick="">@Html.DisplayFor(modelItem => items.arrivalDate)</td>
                                            @*<td onclick="location.href='@Url.Action("PatientModal", "Doctor", item)'">@Html.DisplayFor(modelItem => item.lName)</td>*@
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card-body b-l calender-sidebar">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  