@model medexnet.Models.UserModel

@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                //theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                handleWindowResize: true,
                defaultView: 'month',
                editable: false,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                //events: "/Patient/GetCalendarData/"
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '/Patient/GetDeliveryData',
                        type: "GET",
                        dataType: "JSON",

                        success: function (result) {
                            var events = [];

                            $.each(result, function (i, data) {
                                events.push(
                                    {
                                        title: data.Title,
                                        description: data.Desc,
                                        start: moment(data.Start_Date).format('YYYY-MM-DD'),
                                        end: moment(data.End_Date).format('YYYY-MM-DD'),
                                        backgroundColor: data.PriorityColor,
                                        borderColor: "#000000"
                                    });
                            });

                            callback(events);
                        }
                    });
                },
                //eventRender: function (event, element)
                //{
                //    element.qtip(
                //    {
                //        content: event.description
                //    });
                //},
            });
            setInterval(function () {
            UpdateNotifications();
            }, 3000);
        });


        function UpdateNotifications() {
            $.ajax({
                type: "GET",
                url: "/Patient/GetNotifications",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //console.log(response);
                    if (response != null) {

                        var j = ""; var p = 0; var Q = "";
                        $.each(response, function (k, v) {
                            j += '<a href="'+v.address+'" id="' + v.id + '" class="link border-top">'
                            j += '<div class="d-flex no-block align-items-center p-10">                           '
                            j += '<span class="btn btn-success btn-circle"><i class="' + v.image + '"></i></span>     '
                            j += '<div class="m-l-10">                                                            '
                            j += '<h5 class="m-b-0">' + v.description + '</h5>                                    '
                            j += '<span class="mail-desc"></span>                       '
                            j += '</div>                                                                          '
                            j += '</div>                                                                          '
                            j += '</a>'
                        });

                        $('#myNotificationList').html("");
                        $('#myNotificationList').append(j);
                    }
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
    </script>
}

<div class="page-wrapper">
    <div class="container-fluid">

        <div id="DeliveryList">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Your Deliveries</h5>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Shipping ID</th>
                                    <th scope="col">Date Shipped</th>
                                    <th scope="col">Estimated Arrival Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (medexnet.Models.PatientPrescriptions item in Model.myPrescriptions)
                                {
                                    foreach (medexnet.Models.Delivery items in item.dDates)
                                    {

                                        <tr>
                                            @*<td><a href="@Url.Action("Index", "Doctor", item)">&nbsp;</a></td>*@
                                            <td onclick="">@Html.DisplayFor(modelItem => items.Id)</td>
                                            <td onclick="">@Html.DisplayFor(modelItem => items.shippedDate)</td>
                                            <td onclick="">@Html.DisplayFor(modelItem => items.arrivalDate)</td>
                                            @*<td onclick="location.href='@Url.Action("PatientModal", "Doctor", item)'">@Html.DisplayFor(modelItem => item.lName)</td>*@
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card-body b-l calender-sidebar">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  