@model medexnet.Models.UserModel

@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
    List<medexnet.Models.UserModel> doctors = new List<medexnet.Models.UserModel>();
}

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/Patient/LoadDoctorData',
                type: "GET",
                dataType: "JSON",

                success: function (result) {
                    document.getElementsByName("doctors") = result;
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#btnReq").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var appt = {};
                appt.doctorID = $buttonClicked.attr('data-id');
                appt.date = $("#reqDate").val();
                appt.desc = $("#desc").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddAppointment")',
                    data: JSON.stringify(appt),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $('#ApptModal').modal('hide');
                        //alert("Request Sent");
                    },
                    error: function () {
                        alert("Please check all of the fields.");
                    }
            });
            return false;
        });
    });

    </script>
}

<div class="page-wrapper">
    <div class="container-fluid">
        <div id="DeliveryList">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Your Doctors</h5>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Office Hours</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (medexnet.Models.UserModel UM in Model.myDoctors)
                                {
                                    string name = UM.fName + " " + UM.lName;
                                    string address = UM.streetAddress.ToString() + " " + UM.city.ToString() + " " + UM.state.ToString() + " " + UM.zipcode.ToString();
                                <tr>
                                    <td onclick="">@Html.DisplayFor(modelItem => name)</td>
                                    <td onclick="">@Html.DisplayFor(modelItem => UM.officeHours)</td>
                                    <td onclick="">@Html.DisplayFor(modelItem => address)</td>
                                    <td onclick="">@Html.DisplayFor(modelItem => UM.phoneNumber)</td>
                                    <td onclick="">@Html.DisplayFor(modelItem => UM.email)</td>
                                    <td><a href="javascript:void(0);" class="" data-toggle="modal" data-id="@UM.Id" data-target="#ApptModal">Request Appointment</a></td>
                                </tr>
                                    <div class="modal" id="ApptModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Request Appointment</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <dl class="dl-horizontal">
                                                            <dd>
                                                                Reason:
                                                                <div class="input-group col-md-10">
                                                                    <input type="text" name="desc" id="desc" class="form-control" />
                                                                </div>
                                                            </dd>
                                                            <dd>
                                                                Date:
                                                                <div class="input-group col-md-10">
                                                                    <input type="date" name="reqDate" id="reqDate" class="form-control" required />
                                                                </div>
                                                            </dd>
                                                            <dd>
                                                                <input class="btn btn-primary" name="submitButton" data-id="@UM.Id" id="btnReq" value="Request Appointment" type="button">
                                                            </dd>
                                                        </dl>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @*<div class="col-lg-9">
                        <div class="card-body b-l calender-sidebar">
                            <div id="calendar"></div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>