@model medexnet.Models.UserModel

@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">

        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dl></dl>
                    <dt>
                        <h2>Contact Information</h2>
                        <br />
                    </dt>
                    <form>
                        <dl>
                            <h5>Current Email Address: @Html.DisplayFor(model => model.email) </h5>
                            <br />
                            @{string address = Model.streetAddress + " " + Model.city + ", " + Model.state + " " + Model.zipcode;}
                            <h5>Current Address: @Html.DisplayFor(model => address) </h5>
                            <br />
                            <h5>Current Phone Number: @Html.DisplayFor(model => model.phoneNumber) </h5>
                            <br />
                        </dl>
                        <dl class="border-bottom">
                            <input class="btn btn-primary" value="Change Info" name="Change Info" onclick="location.href = '@Url.Action("ChangeSettings", "Patient", Model)';" type="button">
                        </dl>
                        <br />
                    </form>

                    <form>
                        <h2>Prescription Colors: </h2>
                        <br />
                        @foreach (medexnet.Models.PatientPrescriptions p in Model.myPrescriptions)
                        {
                            <dl class="border-bottom">
                                <h5>Prescription: @Html.DisplayFor(model => p.name) @Html.DisplayFor(model => p.dosage) </h5>
                                <br />
                                <h5>
                                    Color: <input class="changeColor" type="color" id="cColor" onchange="callChangefunc(@p.Id, this.value)" data-id="@p.Id" value="@p.color" style="width:40px; height:40px;">

                                </h5>
                                <br />
                            </dl>
                        }
                    </form>

                </dl>

            </div>
        </div>
    </div>
</div>

@section scripts
{ 
    <script type="text/javascript">

        function callChangefunc(id, val) {
            var rxColor = {};
                rxColor.id = id;
                rxColor.color = val;
            $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangeRxColor")',
                    data: JSON.stringify(rxColor),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        location.reload();
                    },
                    error: function () {
                        alert("Error sending message!");
                    }
            });
            return false;
        }

        $(document).ready(function () {
            setInterval(function () {
            UpdateNotifications();
            }, 3000);
        });

        function UpdateNotifications() {
            $.ajax({
                type: "GET",
                url: "/Patient/GetNotifications",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //console.log(response);
                    if (response != null) {

                        var j = ""; var p = 0; var Q = "";
                        $.each(response, function (k, v) {
                            j += '<a href="'+v.address+'" id="' + v.id + '" class="link border-top">'
                            j += '<div class="d-flex no-block align-items-center p-10">'
                            j += '<span class="btn btn-success btn-circle"><i class="' + v.image + '"></i></span>     '
                            j += '<div class="m-l-10">'
                            j += '<h5 class="m-b-0">' + v.description + '</h5>                                    '
                            j += '<span class="mail-desc"></span>                       '
                            j += '</div>  '
                            j += '</div>                                                                          '
                            j += '</a>'
                            p++
                        });

                        $('#NotificationBadge').html(p);
                        if (p == 0) {
                            $('#NotificationBadge').hide()
                        }
                        else {
                            $('#NotificationBadge').show()
                        }

                        $('#myNotificationList').html("");
                        $('#myNotificationList').append(j);
                    }
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }

    </script>
}
