@model IEnumerable<medexnet.Models.PatientPrescriptions>

@{
    ViewBag.Title = "Schedule";
}


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                //theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                handleWindowResize: true,
                defaultView: 'month',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                //events: "/home/getevents/"
            });
        });
    </script>
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Schedule</h4>
                <div class="ml-auto text-right">
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="">
                        <div class="row">
                            <div class="col-lg-3 border-right p-r-0">
                                <div class="card-body border-bottom">
                                    <h4 class="card-title m-t-10">Perscriptions</h4>

                                    <table class="table">
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.patientId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.doctorId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.prescriptionId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.deliveryId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.dosage)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.pillcount)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.numberofrefills)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.useBefore)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.description)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.datePrescribed)
                                            </th>
                                            <th></th>
                                        </tr>

                                        @foreach (var item in Model)
                                         {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.patientId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.doctorId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.prescriptionId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.deliveryId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.dosage)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.pillcount)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.numberofrefills)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.useBefore)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.datePrescribed)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                                </td>
                                            </tr>
                                         }

                                    </table>


                                </div>

                                @*<asp:GridView ID="prescriptionData" runat="server" class="table table-hover table-sm table-bordered table-striped rounded-sm"></asp:GridView>
                                    <asp:ListView ID="ListView1" runat="server"></asp:ListView>*@

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="card-body b-l calender-sidebar">
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN MODAL -->
    </div> <!-- End Page Content -->
</div><!-- End Page Wrapper  -->                