@model medexnet.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Login - Medex</title>
    <link rel="icon" type="#" sizes="16x16" href="#">

    @Styles.Render("~/bundles/style")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="main-wrapper">

        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>


        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
            <div class="auth-box bg-dark border-top border-secondary">
                <div id="loginform">
                    <div class="text-center p-t-20 p-b-20">
                        <span class="db"><img src="#" alt="logo" /></span>
                    </div>
                                  
                        @using (Html.BeginForm(new { htmlAttributes = new { @class = "form-horizontal m-t-20" } }))
                         {
                            @Html.AntiForgeryToken()

                            <div class="row p-b-30">
                                <div class="col-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user"></i></span>
                                        </div>
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Email Address" } })
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                                        </div>
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Password" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row border-top border-secondary">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="p-t-20">
                                            @Html.ActionLink("Patient Register", "PatientRegister", "Login", new { @class = "btn btn-info m-r-5" })

                                            <button class="btn btn-success float-right" type="submit">Login</button>

                                            @Html.ActionLink("Doctor Register", "DoctorRegister", "Login", new { @class = "btn btn-info m-r-5" })                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
