@model medexnet.Models.PatientRegister

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Patient Register - Medex</title>
    <link rel="icon" type="#" sizes="16x16" href="#">

    @Styles.Render("~/bundles/style")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="main-wrapper">
        
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
            <div class="auth-box bg-dark border-top border-secondary">
                <div>
                    @*<div class="text-center p-t-20 p-b-20">
                        <span class="db"><img src="#" alt="logo" /></span>
                    </div>*@
                    <!-- Form -->
                    @using (Html.BeginForm(new { htmlAttributes = new { @class = "form-horizontal m-t-20" } }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row p-b-30">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    @Html.EditorFor(model => model.fName, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "First Name" } })
                                </div>

                                <div class="input-group mb-3">
                                    @Html.EditorFor(model => model.lName, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Last Name" } })
                                </div>

                                <div class="input-group mb-3">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Email Address" } })
                                </div>

                                <div class="input-group mb-3">
                                    @Html.EditorFor(model => model.confirmEmail, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Confirm Email Address" } })
                                </div>

                                <div class="input-group mb-3">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Password" } })
                                </div>

                                <div class="input-group mb-3">
                                    @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Confirm Password" } })
                                </div>

                                <div class="input-group mb-3">
                                    @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Phone Number" } })
                                </div>

                                <div class="input-group mb-3">
                                    @Html.EditorFor(model => model.streetAddress, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Street Address" } })
                                </div>

                                <div class="input-group mb-3">
                                    @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "City" } })
                                </div>

                                <div class="input-group mb-3">
                                    @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "State" } })
                                </div>

                                <div class="input-group mb-3">
                                    @Html.EditorFor(model => model.zipcode, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Zipcode" } })
                                </div>

                                <div class="mb-3">
                                    @Html.ValidationMessageFor(model => model.fName, "", new { @class = "badge badge-danger" })
                                </div>

                                <div class="mb-3">
                                    @Html.ValidationMessageFor(model => model.lName, "", new { @class = "badge badge-danger" })
                                </div>

                                <div class="mb-3">
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "badge badge-danger" })
                                </div>

                                <div class="mb-3">
                                    @Html.ValidationMessageFor(model => model.confirmEmail, "", new { @class = "badge badge-danger" })
                                </div>

                                <div class="mb-3">
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "badge badge-danger" })
                                </div>

                                <div class="mb-3">
                                    @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "badge badge-danger" })
                                </div>

                                <div class="mb-3">
                                    @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "badge badge-danger" })
                                </div>

                                <div class="mb-3">
                                    @Html.ValidationMessageFor(model => model.streetAddress, "", new { @class = "badge badge-danger" })
                                </div>

                                <div class="mb-3">
                                    @Html.ValidationMessageFor(model => model.city, "", new { @class = "badge badge-danger" })
                                </div>

                                <div class="mb-3">
                                    @Html.ValidationMessageFor(model => model.state, "", new { @class = "badge badge-danger" })
                                </div>

                                <div class="mb-3">
                                    @Html.ValidationMessageFor(model => model.zipcode, "", new { @class = "badge badge-danger" })
                                </div>
                              
                            </div>
                            </div>

                        <div class="row border-top border-secondary">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="p-t-20">
                                        @*<button class="btn btn-block btn-lg btn-info" type="submit">Sign Up</button>*@
                                        <input type="submit" value="Sign Up" class="btn btn-block btn-lg btn-info" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        


</body>
</html>
