@{
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Login");
    }  
}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Patient Dashboard - Medex</title>
    <link rel="icon" type="image/png" sizes="16x16" href="#">

    @Styles.Render("~/bundles/calendarcss")
    @Styles.Render("~/bundles/style")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    <form>

        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>

        <div id="main-wrapper">
            <aside class="left-sidebar" data-sidebarbg="skin5">
                <div class="scroll-sidebar">
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav" class="p-t-30">
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="Schedule.aspx" aria-expanded="false"><i class="fas fa-calendar-alt"></i><span class="hide-menu">Schedule</span></a></li>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="fas fa-prescription-bottle-alt"></i><span class="hide-menu">Prescriptions</span></a></li>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="fas fa-truck"></i><span class="hide-menu">Deliveries</span></a></li>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="fas fa-stethoscope"></i><span class="hide-menu">Doctor</span></a></li>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="fas fa-clock"></i><span class="hide-menu">Appointments</span></a></li>
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-envelope"></i><span class="hide-menu">Messaging </span></a>
                                <ul aria-expanded="false" class="collapse  first-level">
                                    <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="fas fa-inbox"></i><span class="hide-menu"> Inbox </span></a></li>
                                    <li class="sidebar-item"><a href="#l" class="sidebar-link"><i class="mdi mdi-send"></i><span class="hide-menu"> Send Message </span></a></li>
                                    <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="fas fa-trash-alt"></i><span class="hide-menu"> Trash </span></a></li>
                                </ul>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-user"></i><span class="hide-menu">Account </span></a>
                                <ul aria-expanded="false" class="collapse  first-level">
                                    <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-settings"></i><span class="hide-menu"> Settings </span></a></li>
                                    <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-logout"></i><span class="hide-menu"> Logout </span></a></li>
                                </ul>
                            </li>
                            <!--SOME GOOD ONES ARE fas fa-capsules    fas fa-ambulance         fas fa-heartbeat    fas fa-hospital -->
                        </ul>
                    </nav>
                </div>
            </aside>
            <!-- ============================================================== -->
            <div>
                @RenderBody()
                <hr />
            </div>
            

        </div>

    </form>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/extras")
    @Scripts.Render("~/bundles/calendar")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
